<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../public/images/favicon.ico" rel="shortcut icon">

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../public/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../public/js-common/jquery-3.1.1.min.js"></script>
    <script src="../public/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='../public/css/style.css' />
    <link rel="stylesheet" href="../public/css/dashboard.css">
    <script src="../public/angular-1.6.1/angular.min.js"></script>
    <script src="../public/angular-1.6.1/angular-animate.js"></script>
    <script src="../public/angular-1.6.1/angular-cookies.min.js"></script>
  </head>
  <body ng-app="ndDashBoard">
    <div ng-controller="ngDashBoardCtrl" class="container">
      <div ng-include="'../include/nav-bar.html'"></div>
      <div style="height: 10px"></div>
      <div style="height: 5px"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-warning panel-collapse">
            <div class="panel-heading"><span style="font-size: 18px" class="text-warning"><b>Message Center</b></span></div>
            <div class="panel-body">
              <table class="table table-responsive" id="messageCenter">
                <thead>
                <tr>
                  <th>Phone Number</th>
                  <th>Student Name</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Message</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="im in incomingMessages" class="clickable-row" ng-class="im.read === true ? 'message-unread' : 'message-read'">
                    <td>
                      <i ng-show="im.presentInSystem === true" class="fa fa-user text-success" aria-hidden="true"></i>
                      <i ng-show="im.presentInSystem === false" class="fa fa-user text-danger" aria-hidden="true"></i>
                      <span>{{im.phoneNumber}}</span>
                    </td>
                    <td>{{im.studentName}}</td>
                    <td>{{im.date}}</td>
                    <td>{{im.time}}</td>
                    <td>{{im.message}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      <div style="height: 5px"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success panel-collapse">
            <div class="panel-heading"><span style="font-size: 18px;"><b>Student Center</b></span></div>
            <div class="panel-body">
              <table class="table table-responsive">
                <thead>
                <tr>
                  <th>Student Name</th>
                  <th>Last Interaction Date</th>
                  <th>Time</th>
                  <th>Tags</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="im in incomingMessages">
                  <td><a href="#"><i ng-show="im.isPresentInSystem === 'Y'" class="fa fa-user text-success" aria-hidden="true"></i> {{im.phoneNumber}}</a></td>
                  <td>{{im.studentName}}</td>
                  <td>{{im.date}}</td>
                  <td>{{im.time}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  <script>
      $(document).ready(function () {
          $('[data-toggle="tooltip"]').tooltip();
      });
  </script>
  <script src="../public/js/dashboard.js"></script>
  </body>
</html>
