<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='../public/css/style.css' />
    <link rel="stylesheet" href="../public/bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <script src="../public/jsc/angular.min.js"></script>

    <script src="../public/jsc/jquery-3.1.1.min.js"></script>
    <script src="../public/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script src="../public/js/index.js"></script>

  </head>

  <body>
 
<div class="container">
  <h2>Message Center</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Date   Time      Name</div>
    <div class="panel-body">02/18/2017   11:27  Megan</div>
  </div>
</div>
<div class="container">
  <h2>Student Center</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Student Name        Last Interaction Date   Time     Tags</div>
    <div class="panel-body">Mickey Mouse         02/17/2017    10:30am    FASFA_Complete  </div>
  </div>
</div>
<div class="container">
  <h2>Search by Name</h2>
  <div class="well well-sm">Enter Name</div>
</div>
<div class="container">
  <h2>Search by Tag</h2>
  <div class="well well-sm">Enter Tag</div>
</div>
</body>
</html>
