<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='../public/css/style.css' />
    <link rel="stylesheet" href="../public/bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <script src="../public/jsc/angular.min.js"></script>

    <script src="../public/jsc/jquery-3.1.1.min.js"></script>
    <script src="../public/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script src="../public/js/index.js"></script>

  </head>

  <body>
  <div class="container">
    <div align="center">
      <div class="brand-logo"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span>Test</span>
      </div>
    </div>
  </div>

  </body>
</html>
