.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #ffffff !important;
    background-color: #ff9e01 !important;
}

.navbar {
    font-size: 17px !important;
    letter-spacing: 0px !important;
    font-weight: 400;
}

.menu-links {
    font-size: 17px;
    font-weight: 600;
}

.navbar-brand {
    color: #ff9e01 !important;;
}

#messageCenter tbody tr:hover {
    cursor: pointer;
    background-color: #e7e7e7;
}

.action-icon {
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

.message-unread {
    font-weight: bold;
}

.clickable{
    cursor: pointer;
}

.alert-money-think {
    color: #ffffff;
    background-color: #ff9e01;
    border-color: #e68e00;
}

.column-search-input-sm {
    width: 50%;
    height: 27px;
}

.column-search-input-md {
    width: 60%;
    height: 27px;
}

.column-search-input-lg {
    width:70%;
    height: 27px;
}

.column-search-input-xlg {
    width:85%;
    height: 27px;
}


@media(min-width: 1400px){
    .my-modal > .modal-lg {
        width: 1308px;
    }
}


